<mat-toolbar>
  <h2>{{ title }}</h2>
  <div *ngIf="userRole < 3" class="summary">
    <button
      mat-icon-button
      matTooltip="Basket cost: ${{ totalCost }} Tickets: {{ totalTickets }}"
      matTooltipClass="multiline-tooltip"
      routerLink="/shopping-basket"
    >
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button
      *ngIf="isJourneyNear"
      matTooltip="You have incoming journeys!"
      mat-icon-button
      routerLink="/history"
    >
      <mat-icon class="alert">add_alert</mat-icon>
    </button>
    <button
      *ngIf="username"
      mat-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      matTooltip="More"
    >
      {{ username }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Details</span>
      </button>
      <button (click)="openLogoutDialog()" mat-menu-item>
        <mat-icon>backspace</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
