<div class="box">
  <div *ngIf="user.role < 2" class="add-journey">
    <button (click)="openDialog()" mat-raised-button color="primary">
      Add journey
    </button>
  </div>
  <div class="flex-box mt">
    <app-journey-card
      (journeyDeleted)="getJourneys()"
      (journeyEditted)="getJourneys()"
      [journey]="j"
      [minCost]="minCost"
      [maxCost]="maxCost"
      [userRole]="user.role"
      *ngFor="let j of journeys | journeyFilter : filter"
    ></app-journey-card>
  </div>
  <div class="mt">
    <app-journey-filter
      (filterEvent)="filterChange($event)"
      [countries]="countries"
      [minCost]="minCost"
      [maxCost]="maxCost"
    ></app-journey-filter>
  </div>
</div>
