<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ comment.username }}</mat-card-title>
      <mat-card-subtitle>{{ comment.journeyName }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="comment.userDate">
        <span
          >Trip start date: {{ comment.userDate | date }}</span
        ></mat-card-subtitle
      >
      <mat-card-subtitle>
        <mat-icon *ngFor="let i of array(comment.stars)">star</mat-icon>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{ comment.text }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
  </mat-card-actions>
</mat-card>
