input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
div, form{
    padding: 16px 32px;
}
mat-spinner {
    margin: auto;
}
form {
    max-width: 700px;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.column {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.column mat-form-field {
    width: 100%;
}
.row mat-form-field {
    width: 100%;
}

.right-align {
    text-align: right;
}
h1 {
    font-size: 2rem;
    margin-bottom: 32px;
    margin-top: 32px;
}
.box {
    text-align: center;
    padding: 16px;
}
.multi {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.multi mat-form-field {
    width: 80%;
}