<mat-toolbar color="primary">
  <span>
    <mat-icon>card_travel</mat-icon>
    TravelNow
  </span>
  <div class="navbar">
    <a routerLink="home">Home</a>
    <a routerLink="journeys">Journeys</a>
    <a *ngIf="user.role < 3" routerLink="history">History</a>
    <a *ngIf="user.role === 0" routerLink="users">Users</a>
    <a *ngIf="user.role > 2" (click)="openDialog(1)">Login</a>
    <a *ngIf="user.role > 2" (click)="openDialog(0)">Register</a>
  </div>
  <div class="sidebar">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-page-header
  [userRole]="user.role"
  [username]="user.username"
></app-page-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" routerLink="home" mat-list-item>
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a
        *ngIf="user.role === 0"
        (click)="sidenav.toggle()"
        routerLink="users"
        mat-list-item
      >
        <mat-icon>supervisor_account</mat-icon>
        Users
      </a>
      <a (click)="sidenav.toggle()" routerLink="journeys" mat-list-item>
        <mat-icon>terrain</mat-icon>
        Journeys
      </a>
      <a
        *ngIf="user.role < 3"
        (click)="sidenav.toggle()"
        routerLink="history"
        mat-list-item
      >
        <mat-icon>history</mat-icon>
        History
      </a>
      <a
        *ngIf="user.role >= 3"
        (click)="sidenav.toggle(); openDialog(1)"
        mat-list-item
      >
        <mat-icon>assignment_ind</mat-icon>
        Login
      </a>
      <a
        *ngIf="user.role >= 3"
        (click)="sidenav.toggle(); openDialog(0)"
        mat-list-item
      >
        <mat-icon>group_add</mat-icon>
        Register
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
