<div class="box">
  <div class="summary">
    <div *ngIf="isTooLate()" class="warn">
      <mat-icon class="warn" matTooltip="This journey expired">info</mat-icon>
    </div>
    <h1>
      <span>{{ journey.name }}</span> details
    </h1>
    <mat-divider></mat-divider>
    <div class="data">
      <div class="item">
        <p>Country</p>
        <p>{{ journey.country }}</p>
      </div>
      <div class="item">
        <p>Start date</p>
        <p>{{ journey.startDate | date }}</p>
      </div>
      <div class="item">
        <p>End date</p>
        <p>{{ journey.endDate | date }}</p>
      </div>
      <div class="item">
        <p>Cost</p>
        <p>${{ journey.cost }}</p>
      </div>
      <div class="item">
        <p>Tickets left</p>
        <p>{{ journey.ticketsLeft }}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="photo-box">
      <div class="photo">
        <img [src]="journey.urls[imgIndex]" alt="Image" />
        <div class="photo-action">
          <button (click)="next(-1)" mat-icon-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button (click)="next(1)" mat-icon-button>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="desc">
        <h2>Description</h2>
        <p>{{ journey.description }}</p>

        <div class="rating" *ngIf="journey.stars > 0">
          <div class="note">
            <p>Average stars</p>
            <mat-icon *ngFor="let i of array(journey.stars)">star</mat-icon>
          </div>
          <p>Total comments: {{ totalComments }}</p>
        </div>
        <div *ngIf="journey.stars === 0">
          <p>Looks like nobody has added comment yet...</p>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="data">
      <div
        *ngIf="user.role < 3"
        class="item-1"
        [ngClass]="{
          green: ticketsInBasket >= 10,
          gray: ticketsInBasket == 0,
          red: ticketsInBasket < 10
        }"
      >
        <p>Currently reservated: {{ ticketsInBasket }}</p>
      </div>
      <div *ngIf="user.role < 3">
        <button
          [disabled]="!canAdd"
          (click)="addTicketToBasket()"
          mat-button
          matTooltip="Add ticket to shopping basket"
        >
          ADD
        </button>
        <button
          [disabled]="!canRemove"
          (click)="removeTicketFromBasket()"
          mat-button
          matTooltip="Remove ticket from shopping basket"
        >
          REMOVE
        </button>
      </div>
    </div>
  </div>
  <button
    class="back-btn"
    routerLink="/journeys"
    mat-fab
    extended
    color="primary"
  >
    <mat-icon>arrow_back</mat-icon>
    Go back to journeys list
  </button>
  <app-journey-comment-list
    (commentDelete)="commentDelete($event)"
    [user]="user"
    [comments]="comments"
  ></app-journey-comment-list>
  <button
    *ngIf="user.role < 3"
    [disabled]="!(canAddComment || user.role < 2)"
    mat-fab
    extended
    color="warn"
    (click)="openAddCommentDialog()"
  >
    <mat-icon> comment</mat-icon>
    ADD COMMENT
  </button>
</div>
